body {
  margin: 0;
  padding: 5px 20px;
  font-family: sans-serif;
}
html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}


thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 10%;
}

tbody td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}





